body {margin:0;
      border:0;
      padding:0;
      height:120vh;
      width:100%;
      display: grid;
      grid-template-rows: 10vh 90vh 20vh;
      background:linear-gradient(70deg,#2E6F95 ,#455E89,#5C4D7D,#723C70,#892B64 );
}

body > header {border-bottom: 1px solid #FFFFFF;
               display:grid;
               grid-template-columns:1fr 4fr; 
              
        
}

body >header > figure {color:#FFFFFF;
               margin:0;
               padding:0;
               height:10vh;
               align-items: center;
               justify-content: center;
               text-align: center;
              
              
}

img    { height: 100%;
        
}

body > header > nav > ul {
              font-family:'Montserrat', sans-serif;
              list-style:none;
              margin: 0;
              padding: 0;
              height: 100%;
              color:#FFFFFF;
              align-items:center;
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              
}

              
main {
      width:100%;
      background:linear-gradient(70deg,#2E6F95 ,#455E89,#5C4D7D,#723C70,#892B64 );
}
      
      
footer {
        width:100%;
        background-color:white;
}
